div.scrollmenu {
    background-color:rgb(255, 0, 0);
    overflow: auto;
    white-space: nowrap;
    text-align:right;
    font-family:cursive;
    font-style: italic;
    font-size: 20px;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: rgb(15, 13, 15);
  }
.banner{
    background-image: url(BA.jpg);
    background-size: 100%;
    background-blend-mode: unset;
    width: 100%;
    height: 90vh;   
}
.banner-content{
    color:rgb(243, 26, 26);
    width:55%;
    padding-top: 170px;
    padding-left: 250px;
    
}
.banner-content span{
    color:rgb(0, 0, 0);
    font-size: 30Px;
    font-weight: 500px;
    letter-spacing: 3px;
}
.banner-content h1{
    margin-bottom: 10px;
    font-size:30px;
    font-weight:600px;
    letter-spacing: 3px;
}
.banner-content p{
    margin-bottom: 40px;
    font-size:22px;
    letter-spacing: 1px;
    font-style: italic;
}
.banner-content a{
    text-decoration: none;
    margin-right: 28px;
}
.banner-content .btn-one{
    padding:10px 38px;
    background-color:rgba(0,0,0,0.3);
    border:2px solid #fff;
    font-size: 18px;
    font-style: italic;
    color:#fff;
    border-radius: 20px;

}
.banner-content .btn-two{
    padding:10px 38px;
    background-color:#fff;
    border:2px solid#fff;
    font-size: 18px;
    font-style: italic;
    color:#000;
    border-radius: 20px;  
}
.banner-content .btn-one:hover{
    background-color: #fff;
    border:2px solid#000;
    color:#000;
}
.banner-content .btn-two:hover{
    background-color:black;
    border:2px solid#fff;
    color:#fff;

}
